<h1 class="main-title">Alerts (1)</h1>
<ion-card class="alert">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title class="alert--name">
              <span class="custom-icon"></span> 
              Water cons. alert
          </ion-card-title>
          <p class="alert--description alert--danger">0.48 gal avg. per day <span>2 hours ago</span></p>
        </ion-col>
        <ion-col class="ion-text-right" size="4">
          <i class="material-icons">vibration</i>
          <ion-toggle class="ion-float-right" checked="false"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
