<h1 class="main-title">Alerts ({{alerts?.length}})</h1>

<div ></div>

<ion-card class="alert" *ngFor="let alert of alerts">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title class="alert--name">
              <span class="custom-icon"></span> 
              {{alert.name}}
          </ion-card-title>
          <p class="alert--description alert--danger">{{alert.value}} <span>{{alert.reported_at}}</span></p>
        </ion-col>
        <ion-col class="ion-text-right" size="4">
          <i class="material-icons">vibration</i>
          <ion-toggle class="ion-float-right" checked="false"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
