@import "../../../theme/common.scss";
.person{
    .img--avatar{
        @extend .circle-size;
        margin-right: 5px;
    }
    .name{
        font-size: 16px;
        font-weight: 500;
    }
    .lastcheckin{
        font-size: 14px;
    }
}
.button{
    &--rounded{
        @extend .circle-size;
        --border-color : #212121;
        color: #212121;
    } 
}

