<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>{{ info?.number_pigs }}</h4>
          <p>{{ info?.weeks_old }} weeks old</p>
          <ion-button color="secondary" (click)="presentActions()" fill="outline">Manage Pigs</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <p>Group: {{ info?.group_id }}</p>
          <p>Started:{{ info?.start_at | date:'yyyy/MM/dd' }}</p>
          <ion-button
            [routerLink]="['/logbook']"
            routerLinkActive="router-link-active">
            LogBook
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
