@import "../../../theme/common.scss";

.header--gradient{
    background: $gradient;
    color: white;
    padding:15px;
    p{
        margin: 0 0 7px 0;
        font-size:14px;
    }
    .text{
        &--mt4{
            margin-top: 4px;
        }
        &--highlight{
            font-weight: 600;
        }
        &--main{
            font-size: 18px;
        }
    }
  
    .button{
        --border-radius	: 10px;
        --padding-start	: 20px;
        --padding-end	: 20px;
        --padding-top	: 20px;
        --padding-bottom: 20px;
        font-size:16px;
        margin-right:0px;
        margin-left: 0px;

        &--manage{
            --border-color	: white;
            color	: white;
        }
        &--link{
            --background: #d1da59;
            --background-hover: #bac346;
            --border-width: 2px;
            --border-color: #bac346;
            --box-shadow: none;
            --padding-top: 22px;
            --padding-bottom: 23px;
            color: #323c39;
            .custom-icon{
                display: inline-block;
                background-image: url(/assets/icon/custom-icon.png);
                width: 29px;
                background-position: center;
                height: 27px;
                margin-right: 14px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .material-icons{
                margin-right: 14px;
            }
        }
    }
}